snippet tf "table function" b
%% tmf: $${1:column or row,column}=${2}
${0:
<leader>tfe for table formular eval 
\$$ 
\$2 = \$1 * \$1
\$2 = pow(\$1, 5) NOTE: Remember to put space between the \$1, and 5 here otherwise it will be treated like a table cell.
\$2 = \$1 / \$1,3
\$1,2 = \$1,1 * \$1,1
\$5,1 = Sum(1:-1)
\$5,1 = float2nr(Sum(1:-1))
\$5,3 = Sum(1,2:5,2)
\$5,3 = Sum(1,2:5,2)/\$5,1
\$5,3 = Average(1,2:5,2)/\$5,1}
endsnippet
